fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
cryptography
pillow
zipstream-new
pyngrok
nest_asyncio
requests
python-multipart
python-dotenv
alibabacloud-dypnsapi20170525
alibabacloud-credentials
alibabacloud-tea-openapi
alibabacloud-tea-util

